html {
    background-color: #aaaaaa;
}
/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 90%;
    margin: 0;
    font-family: Arial;
  }

/*#region POSITIONING*/
.tab-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* disable all tabs by default */
.tab-content {
    display: none;
}
.tab-buttons {
    display: flex;
}
.tab-link {
    background-color: #555;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
}
.tab-link:hover {
    background-color: #777;
  }
/* tab for led control */
.app.visible {
    width: 70vw;
    height: 70vh;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
/* tab for alarm */
.alarm.visible {
    display: block;
}
/*#endregion POSITIONING*/


/*#region CONNECTION-STATUS*/
#connection-status {
    border-radius: 2px;
    margin: 5px 10px;
    box-shadow: inset 0px 0px 2px rgb(82, 82, 82);
    font-size: 20px;
}
#connection-status.connected {
    background-color: #40a008;
}
#connection-status.disconnected {
    background-color: #880606;
}
/*#endregion CONNECTION-STATUS*/


/*#region COLORWHEEL*/
#colorwheel {
    display: none;
}
/*#endregion COLORWHEEL*/


/*#region BUTTONS*/
.button {
    border-radius: 2px;
    box-shadow: 5px 5px 3px rgb(82, 82, 82);
    background-color: white;
    color: black;
    padding: 14px 28px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}
.button:hover {
    background-color: #16928a;
    border-color: #16928a;
    box-shadow: inset 4px 4px 2px rgb(44, 44, 44);
}
/*#endregion BUTTONS*/


/*#region SLIDER*/
.slider-container {
    display: none;
}
.slider-container.visible {
    display: flex;
}
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100px; /* Full-width */
    height: 7px; /* Specified height */
    border-radius: 5px;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
/*#endregion SLIDER*/


/*#region ALARM LIST */
.alarm-list-container {
    display: flex;
    flex-flow: row wrap;

    justify-content: center;

    gap: 0 5rem;
    padding: 5px;
}
/*#endregion ALARM LIST */